* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #87e3ff;
}

/* Estos son los estilos del header */


div {
    display: flex;
    background-color: white;
    position: sticky;
    top: 0px;
    width: 100%;
    box-shadow: 0 0 5px gray;
    height: 150px;
}

header {
    background-color: transparent;
    width: 10%;
    display: inline-block;
}

header .logo {
    width: 70px;
    border-radius: 50%;
}

header figure {
    flex: 1;
    display: inline-block;
    width: 100%;
    margin-left: 20px;
    padding: 20px;
    margin-top: 0;
    background-color: transparent;
}

header figure figcaption {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    flex: 3;
    width: 80%;
    display: inline-block;
    text-align: right;
    margin: 50px;
}

nav ul li {
    display: inline-block;
    padding: 15px;
}

li a:hover {
    color: white;
    transition-duration: 5ms;
    text-transform: uppercase;
    background-color: rgb(4, 98, 91);
    padding: 10px;
    border-radius: 10px;
}

nav ul li a {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: black;
}

div > form{
    flex: 1;
    margin: 1%;
}

.form--enviar {
   background-color: #3ddaf6;
   padding: 1.5%;
   border: none;
   margin-right:5%;
}

/* Estos son los estilos del main */

main h1 {
    margin: 2% 0 2% 0;
    font-size: 2vw;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: #0e033a;
}

main section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

section form {
    margin-top: 1%;
    padding: 1%;
    border: 1px solid #065e14;
    text-align: left;
    width: 20%;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(35, 232, 20, 0.2);
    min-width: 500px;
}

form * {
    padding: 0.5%;
    margin-bottom: 3%;
}

form label {
    font-weight: bold;
}

form button {
    width: 30%;
    color: #065e14;
    background-color: #9ee3f7;
    padding: 2%;
    font-weight: bold;
    cursor: pointer;
    margin-left: 25%;
}

form button:hover {
    color: rgb(247, 242, 242);
    background-color: #0b710c;
}

/* Estos son los estilos del footer */
footer {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

footer img {
    width: 50px;
    border-radius: 50%;
}

footer a {
    text-decoration: none;
}