*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightblue;
}
header{
    background-image: url(mundo.webp);
    background-size: 100%;
    height: 150px;
}
header, nav, main, section, footer{
    margin: 5px;
    padding: 5px;
}
header figure img{
    width: 100px;
    border-radius: 50%;
}
header nav ul li a{
    text-decoration: none;
    margin: 20px;
    color: white;
    font-weight: bold;
}
li{
    display: inline-block;
    margin-left: 30px;
    
}
figure{
    display: inline-block;
}
nav{
    display: inline-block;
    justify-content: end;
    width: 60%;
    text-align: right;
    
}
header h1{
    display: inline-block;
    margin-left: 20px;
    text-align: right;
    color: white;
}
.paris {
    width: 30%;
    display: inline-block;
    background-image: url(/París/paris-eiffel.jpg);
    background-size: 700px ;
    background-position: center;
}
.roma {
    width: 30%;
    display: inline-block;
    background-image: url(/Roma/roma.jpg);
    background-size: 600px ;
    background-position: center;
}
.barsa {
    width: 30%;
    display: inline-block;
    background-image: url(/Barcelona/parcguell.jpg);
    background-size: 300px ;
    background-position: center;
}
section{
    height: 500px;
}
