* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(211, 247, 251);
}

/* Estos son los estilos del header */
div {
    display: flex;
    background-color: white;
    position: sticky;
    top: 0px;
    width: 100%;
    box-shadow: 0 0 5px gray;
    height: 150px;
}

header {
    background-color: transparent;
    width: 10%;
    display: inline-block;
}

header .logo {
    width: 70px;
    border-radius: 50%;
}

header figure {
    flex: 1;
    display: inline-block;
    width: 100%;
    margin-left: 20px;
    padding: 20px;
    margin-top: 0;
    background-color: transparent;
}

header figure figcaption {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    flex: 3;
    width: 80%;
    display: inline-block;
    text-align: right;
    margin: 50px;
}

nav ul li {
    display: inline-block;
    padding: 15px;
}

li a:hover {
    color: white;
    transition-duration: 5ms;
    text-transform: uppercase;
    background-color: rgb(4, 98, 91);
    padding: 10px;
    border-radius: 10px;
}

nav ul li a {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: black;
}

div > form{
    flex: 1;
    margin: 1%;
}

.form--enviar {
   background-color: #73a474;
   padding: 1.5%;
   border-color: #ecf8ed;
   margin-right:5%;
}

/* Estos son los estilos del main */
main .titulo h1 {
    font-size: 50px;
    text-align: center;
    padding: 170px;
    color: rgb(93, 2, 2);
}

.titulo {
    background-image: url(unavez.webp);
    box-shadow: 0 0px 5px 0 green;
}

.producto {
    text-align: center;
    margin-top: 20px;
}

section h2 {
    margin-top: 20px;
}

h2 {
    font-size: 30px;
}

article img {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 3px 3px rgb(14, 1, 1);
    margin-top: 20px;
}

article img:hover {
    width: 250px;
    height: 250px;
    box-shadow: 0 0 3px 3px rgb(93, 2, 2);
    margin-top: 20px;
}

article {
    text-align: center;
    width: 30%;
    display: inline-block;
    background-color: white;
    margin-left: 30px;
    box-shadow: 0 0 5px gainsboro;
    border-radius: 10px;
}

article p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

p {
    margin: 10px;
    padding: 10px;
}

.name {
    color: rgb(93, 2, 2);
    font-size: 30px;
}

button {
    background-color: rgb(48, 197, 187);
    border: solid 1px rgb(44, 44, 44);
    padding: 9px;
    border-radius: 5%;
    margin: 15px;
}

button a {
    text-decoration: none;
    color: black;
    font-weight: bold;

}

button:hover {
    text-transform: uppercase;
    padding: 15px;
    border: solid 3px black;
}

/* Estos son los estilos del footer */
footer {
    text-align: center;
    margin-top: 20px;
}

footer img {
    width: 50px;
    border-radius: 50%;
}

footer a {
    text-decoration: none;
}