* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #78f0f6;
}

/* Estos son los estilos del header */
div {
    display: flex;
    background-color: #ffffff;
    position: sticky;
    top: 0px;
    width: 100%;
    box-shadow: 0 0 5px #808080;
    height: 150px;
}

header {
    background-color: transparent;
    width: 10%;
    display: inline-block;
}

header .logo {
    width: 70px;
    border-radius: 50%;
}

header figure {
    flex: 1;
    display: inline-block;
    width: 100%;
    margin-left: 20px;
    padding: 20px;
    margin-top: 0;
    background-color: transparent;
}

header figure figcaption {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    flex: 3;
    width: 80%;
    display: inline-block;
    text-align: right;
    margin: 50px;
}

nav ul li {
    display: inline-block;
    padding: 15px;
}

li a:hover {
    color: #ffffff;
    transition-duration: 5ms;
    text-transform: uppercase;
    background-color: rgb(4, 98, 91);
    padding: 10px;
    border-radius: 10px;
}

nav ul li a {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: #000000;
}

div > form{
    flex: 1;
    margin: 1%;
}

form * {
    padding: 0.5%;
    margin-bottom: 3%;
}

form label {
    font-weight: bold;
}

.form--enviar {
   background-color: #89e7f6;
   padding: 1.5%;
   border-color: #ecf8ed;
   margin-right:5%;
}


/* Estos son los estilos del main */

main h1 {
    text-align: center;
    font-size: 300%;
    color: rgb(109, 20, 20);
}

main h2 {
    color: #0d8288;
}

section article {
    margin-top: 0;
    margin-left: 30px;
    width: 50%;
    padding: 10px;
    display: inline-block;
    background-color: #ffffff;
    text-align: justify;
}

section article a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;

}

section article a:hover {
    color: #0000ff;
}

section aside {
    margin: 20px;
    width: 40%;
    display: inline-block;
}

#paris {
    width: 94%;
    box-shadow: 0 0 2px 2px;
}

h3{
    margin: 2%;
    color: #640101;
    font-size: 2em;
    font-variant: small-caps;
}

.main__article{
    display: flex;
    align-items: center;
}

.segunda{
    flex: 2;
    margin-left: 3%;
}

.section--table{
    flex: 1;
}
.segunda li {
    margin: 1%;
    padding: 1%;
    list-style: none;
}

.segunda li a {
    text-decoration: none;
    font-size: 150%;
    font-weight: bold;
    color: #000000;
}

.segunda li a:hover {
    color: #ffffff;
}

table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td,th {
    padding: 10px;
    border: solid 1px #000000;
    text-align: center;
    vertical-align: middle;
}

thead th {
    background-color: #717f70;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
}

tbody tr:nth-of-type(odd) {
    background-color: #f3dede;
}

tbody tr:nth-of-type(2) {
    background-color: #f9fbfc;
}

tfoot td {
    background-color: rgb(145, 142, 142);
    font-style: italic;
}


/* Estos son los estilos del footer */
footer {
    text-align: center;
    margin-top: 20px;
}

footer img {
    width: 50px;
    border-radius: 50%;
}